@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');

html,body {
  height: 100%;
  margin: 0;
  font-family: 'Martian Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
}

#root,.App {
  height: 100%;
  background-image: linear-gradient(160deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(64px, 8%);
  font-size: min(4vh, 48px);
  height: 85%;
}

.header {
  animation: 1.5s fade-up ease-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name,.title {
  margin-top: 32px;
  font-weight: bold;
}

.birthday {
  font-size: min(3vh, 24px);
  font-style: italic;
}

.age {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: 2.5s fade-up ease-out;
}

.progress,.circle-percentage {
  display: flex;
  flex-shrink: 1;
  flex-basis: 350px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(white 360deg, white 0deg);
}

.progress {
  animation: 3s fade-up ease-out both;
}

/*Has to be a separate div to only replay this animation on rerender*/
.circle-percentage {
  animation: turn_in 0.75s ease-out forwards; 
}

.percentage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 15%;
  font-size: 85%;
  border-radius: 50%;
  background-image: linear-gradient(160deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  background-size: 300% 300%;
  background-position-y: bottom;
}

.percentage div {
  animation: tick 0.25s; 
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes turn_in {
  5% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .05), white 0deg)}
  10% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .10), white 0deg)}
  15% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .15), white 0deg)}
  20% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .20), white 0deg)}
  25% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .25), white 0deg)}
  30% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .30), white 0deg)}
  35% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .35), white 0deg)}
  40% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .40), white 0deg)}
  45% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .45), white 0deg)}
  50% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .50), white 0deg)}
  55% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .55), white 0deg)}
  60% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .60), white 0deg)}
  65% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .65), white 0deg)}
  70% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .70), white 0deg)}
  75% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .75), white 0deg)}
  80% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .80), white 0deg)}
  85% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .85), white 0deg)}
  90% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .90), white 0deg)}
  95% {background: conic-gradient(var(--primary-color) calc(var(--progress) * .95), white 0deg)}
  100% {background: conic-gradient(var(--primary-color) calc(var(--progress) * 1), white 0deg)}
}

@keyframes tick {
  20% {
    transform: scale(1.25);
  }
}

button {
  color: white;
  background-color: transparent;
  border-radius: 18px;
  font-size: 20px;
  font-family: 'Martian Mono', monospace;
  border: 5px solid white;
  padding: 16px;
  flex-basis: 33%;
}

.buttons {
  position: fixed;
  bottom: 12px;
  box-sizing: border-box;
  width: min(400px, 95vw);
  display: flex;
  justify-content: center;
  border: 5px solid white;
  border-radius: 16px;
  animation: 3s fade-up ease-out both; 
}

.buttons button {
  border: none;
  border-radius: 8px;
}

.active {
  background-color: var(--primary-color);
}