@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');

html,body {
  height: 100%;
  background-image: linear-gradient(160deg, #8EC5FC 0%, #E0C3FC 100%);
  margin: 0;
  font-family: 'Martian Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 32px;
  text-align: center;
}

#root,.App {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(64px, 10%);
  font-size: min(9vmin, 48px);
  height: 85%;
}

.name,.title {
  margin-top: 32px;
  font-weight: bold;
}

.name {
  animation: 1.5s fade-up ease-out;
}

.age {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: 3s fade-up ease-out;
}

.progress {
  display: flex;
  flex-shrink: 1;
  flex-basis: 400px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(white 360deg, white 0deg);
  animation: 3s fade-up 0.5s ease-out both, 1s turn_in 1.5s ease-out forwards; 
}

@media (max-height: 650px) {
  .progress {
    display: none;
  }
}

.percentage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 13%;
  border-radius: 50%;
  background-image: linear-gradient(160deg, #8EC5FC 0%, #E0C3FC 100%);
  background-size: 300% 300%;
  background-position-y: bottom;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes turn_in {
  5% {background: conic-gradient(#87a3ff calc(var(--progress) * .05), white 0deg)}
  10% {background: conic-gradient(#87a3ff calc(var(--progress) * .10), white 0deg)}
  15% {background: conic-gradient(#87a3ff calc(var(--progress) * .15), white 0deg)}
  20% {background: conic-gradient(#87a3ff calc(var(--progress) * .20), white 0deg)}
  25% {background: conic-gradient(#87a3ff calc(var(--progress) * .25), white 0deg)}
  30% {background: conic-gradient(#87a3ff calc(var(--progress) * .30), white 0deg)}
  35% {background: conic-gradient(#87a3ff calc(var(--progress) * .35), white 0deg)}
  40% {background: conic-gradient(#87a3ff calc(var(--progress) * .40), white 0deg)}
  45% {background: conic-gradient(#87a3ff calc(var(--progress) * .45), white 0deg)}
  50% {background: conic-gradient(#87a3ff calc(var(--progress) * .50), white 0deg)}
  55% {background: conic-gradient(#87a3ff calc(var(--progress) * .55), white 0deg)}
  60% {background: conic-gradient(#87a3ff calc(var(--progress) * .60), white 0deg)}
  65% {background: conic-gradient(#87a3ff calc(var(--progress) * .65), white 0deg)}
  70% {background: conic-gradient(#87a3ff calc(var(--progress) * .70), white 0deg)}
  75% {background: conic-gradient(#87a3ff calc(var(--progress) * .75), white 0deg)}
  80% {background: conic-gradient(#87a3ff calc(var(--progress) * .80), white 0deg)}
  85% {background: conic-gradient(#87a3ff calc(var(--progress) * .85), white 0deg)}
  90% {background: conic-gradient(#87a3ff calc(var(--progress) * .90), white 0deg)}
  95% {background: conic-gradient(#87a3ff calc(var(--progress) * .95), white 0deg)}
  100% {background: conic-gradient(#87a3ff calc(var(--progress) * 1), white 0deg)}
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  width: 100%;
}

input {
  background-color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Martian Mono', monospace;
  padding: 8px;
}

button {
  color: white;
  background-color: transparent;
  border-radius: 18px;
  font-size: 20px;
  font-family: 'Martian Mono', monospace;
  border: 5px solid white;
  padding: 16px;
  flex-basis: 33%;
}

.buttons {
  position: fixed;
  bottom: 12px;
  box-sizing: border-box;
  width: min(400px, 95vw);
  display: flex;
  justify-content: center;
  border: 5px solid white;
  border-radius: 16px;
  animation: 3s fade-up 0.5s ease-out both; 
}

.buttons button {
  border: none;
  border-radius: 8px;
}

.active {
  background-color: #87a3ff;
}