@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}            

.App {
  text-align: center;
  background-color: #3a1078;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  color: white;

  background: linear-gradient(90deg, #3a1078, #2F58CD);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}

.age-info {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  font-size: min(32px, 5vh);
  justify-content: space-around;
  background-color: #4e31aa;
  box-shadow: 5px 5px 10px #2b1642;
  padding: 40px;
  border-radius: 20px;

  background: linear-gradient(90deg, #4e31aa, #4086e2);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.graphic {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.age {
  font-size: min(42px, 7vh);
}

.start,.end {
  font-size: 36px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar {
  margin: 0;
  flex: auto;
}

.indicator {
  width: fit-content;
  padding-bottom: 5px;
  animation: indicator-move 30s infinite ease-in-out;
}

@keyframes indicator-move {
  50% {
    transform: translateX(1vw);
  }
}

.result {
  font-size: 64px;
}

.message {
  font-size: 40px;
}

.bar {
  background:  repeating-conic-gradient(#1d1d1d 0% 25%, rgb(214, 214, 65) 0% 50%);
  background-repeat: repeat-x;
  background-size: 20px 16px;
  background-position: left;
  animation: ground-move 4s infinite linear;
}

@keyframes ground-move {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: right 20px bottom;
  }
}